<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <p>Students management</p>
            <div id="navbarActions" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a th:href="@{'/students/create'}" class="btn btn-primary">Add new student</a></li>
                </ul>
            </div>
            <div id="navbarUserInfo" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <p>Welcome, <span th:text="${user.username}"></span>!</p>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-outline-danger btn-sm">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Body -->
    <div class="container mt-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.phone}"></td>
                <td><a th:href="@{'/students/edit/' + ${student.id}}" class="btn btn-warning">Edit</a></td>
                <td><a th:href="@{'/students/delete/' + ${student.id}}" class="btn btn-danger">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>